
name: CI

# Triggers the workflow on push or pull request events
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: setup
        run: |
          git clone https://github.com/FRC-Team-8745/Drivetrain-Current.git
          cd Drivetrain-Current
          git pull
          git checkout api
          git pull
          cd src/main/java
          mkdir control
          cd ../../..
          cd ..
          cp driver.java Drivetrain-Current/src/main/java/control
      - name: build
        run: |
          cd Drivetrain-Current
          ./gradlew build
